<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="scorbot" >

  <!-- ARM -->
  <xacro:include filename="$(find scorbot_control_2)/urdf/scorbot.xacro" />


  <!-- Here we create the Xacro macro to attach the arm to the world frame-->
  <xacro:scorbot prefix="scorbot" parent="world">
    <origin xyz="0.0 0 0.0" rpy="0 0 0" />
  </xacro:scorbot>
</robot>